name: '라벨 자동 할당'

on:
  - pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
          configuration-path: '.github/workflows/config/auto-assign-label-config.yml'
